/* ---- fonts ---- */
@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('fonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ---- navbar ---- */
@media screen and (max-width: 992px) {
    .navbar-middle,
    .navbarAccount {
        font-size: 15px !important;
    }
}

.header {
    display: flex;
    position: sticky;
    z-index: 1000;
}
.navbar {
    margin-top: -20px;
    color: #1e1919;
    background-color: #08330d;
    height: 95px;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar-items {
    text-decoration: none;
    font-family: Glacial Indifference;
    list-style: none;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: none;
}

nav ul li a {
    text-decoration: none;
    margin-right: 24px;
    color: white;
    font-size: 29px;
    position: relative;
    top: -9px;
}

.navbar-logo a {
    margin: 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
    font-family: 'Glacial Indifference Bold';
    font-size: 36px !important;
    background-color: transparent;
    transition: font-size 0.05s ease-in-out;
}
.navbar-logo a:hover {
    font-size: 37px !important;
}

.menu-button {
    font-size: 29px;
    transition: font-size 0.1s ease-in-out;
}
.menu-button a:hover {
    font-size: 30px !important;
    transition: font-size 0.1s ease-in-out;
}


/* ---- side bar menu ---- */
.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #08330d;
    padding-top: 60px;
    z-index: 1001;
    background-color: darkgreen;
}

.sidebar-open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar-closed {

}