/* ---- fonts ---- */
@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('fonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ---- navbar ---- */
@media screen and (max-width: 992px) {
    .navbar-middle,
    .navbarAccount {
        font-size: 15px !important;
    }
}

.header {
    display: flex;
    position: sticky;
    z-index: 1000;
}
.navbar {
    color: #1e1919;
    background-color: #08330d;
    height: 95px;
    align-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.navbar-items {
    text-decoration: none;
    font-family: Glacial Indifference;
    list-style: none;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    height: 100%;
    margin: 0px;
}

nav ul li a {
    text-decoration: none;
    margin-right: 24px;
    color: white;
    font-size: 29px;
    position: relative;
}

.navbar-logo a {
    margin: 0;
    display: block;
    text-decoration: none;
    font-weight: bold;
    line-height: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 36px !important;
    background-color: transparent;
    transition: font-size 0.05s ease-in-out;
}
.navbar-logo a:hover {
    font-size: 37px !important;
}

.menu-button {
    font-size: 29px;
    transition: font-size 0.1s ease-in-out;
    color: white;
}
.menu-button:hover {
    font-size: 30px !important;
    transition: font-size 0.1s ease-in-out;
    cursor: pointer;
}


/* ---- side bar menu ---- */
.close-button {
    font-size: 45px;
    transition: font-size 0.1s ease-in-out;
    color: white;
    padding-left: 10px;
    position: absolute;
    top: 20px;
}
.close-button:hover {
    font-size: 43px;
    cursor: pointer;
    transition: font-size 0.1s ease-in-out;
}

.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background-color: #08330d;
    padding-top: 60px;
    z-index: 1001;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-items {
    list-style-type: none;
    padding-left: 0;

}
.sidebar-items a:not(.sidebar-logo) {
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    white-space: nowrap
}
.sidebar-items a:hover:not(.sidebar-logo) {
    font-size: 26px;
    transition: font-size 0.1s ease-in-out;
}
.sidebar-items li {
    background-color: #08330d;
    font-family: Glacial Indifference;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    left: 0;
    padding-left: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #09360c;
    margin: 0.5em 0;
    padding: 0;
}

.sidebar-logo {
    text-decoration: none;
    transition: font-size 0.1s ease-in-out;
}
.sidebar-logo:hover {
    font-size: 75px;
    transition: font-size 0.1s ease-in-out;
}

.account-button {
    text-decoration: none;
    font-family: Glacial Indifference;
    color: white;
    font-size: 25px;
    padding: 0px;
    background-color: transparent;
    border: none;
}
.account-button:hover {
    font-size: 26px;
    transition: font-size 0.1s ease-in-out;
    cursor: pointer;
}