/* ---- fonts ---- */
@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../fonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ---- variables ---- */
:root {
    --lighter-theme-colour: #1b5e31;
    --main-theme-colour: #0d3d1d;
    --darker-theme-colour: #08330d;
    --error-colour: #ff1313;
}

/* ---- general styling ---- */
.welcome-container {
    margin-top: 85px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var(--main-theme-colour);
    color: white;
    font-family: Glacial Indifference;
}

.welcome-container h1 {
    font-size: 42px;
    margin-bottom: -15px;
}
.welcome-container p {
    font-size: 28px !important;
}

header {
  height: 95px;
}

body {
    margin-block: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: var(--darker-theme-colour);
    color: #fff;
    margin-top: auto;
    margin-inline: -8px;
}

/* ---- dashboard ---- */
.dashboard-title {
    font-family: Glacial Indifference Bold;
    font-size: 30px;
    text-align: left;
    margin-left: 15px;
}

.dashboard-container {
    padding: 0 50px;
    margin-top: 220px;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    width: 99%;
    box-sizing: border-box;
    padding-bottom: 100px;
    overflow: hidden;
}

.chart-container {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    max-width: 0;
    min-width: 420px;
    width: 500px;
    height: 100%;
}

.dashboard-activity-log {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    max-width: 600px;
    min-width: 420px;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.dashboard-activities-table {
    font-family: arial, sans-serif;
    font-size: 15px;
    border-collapse: separate;
    border-spacing: 0px 3px;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    text-align: left;
}

.total-emissions-container {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    max-width: 400px;
    min-width: 400px;
    width: 400px;
    height: 100%;
    text-align: left;
}

.recommendations-container {
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px 40px;
    width: 600px;
    min-width: 400px;
    height: 100%;
    box-sizing: border-box;
}
.recommendations-container ul {
    padding-left: 20px;
    margin-top: -10px;
    list-style: none;
}
.recommendation-button {
    background-color: var(--lighter-theme-colour);
    color: white;
    font-family: 'Glacial Indifference';
    font-size: 18px;
    border-radius: 10px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}



/* ---- about us ---- */
.T&C-button {
    text-decoration: none;
    font-family: Glacial Indifference;
    color: white;
    font-size: 25px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.about-us-top-section {
    margin-top: 300px;
    align-items: center;
    text-align: center;
    padding: 1rem 0rem;
}

.about-us-body {
    font-family: Glacial Indifference;
    font-size: 20px;
    width: 40%;
    display: inline-block;
    text-align: left !important;
    vertical-align: middle;
}
.net-zero-img {
    width: 15%;
    height: auto;
    max-width: 250px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 80px;
    margin-top: -120px;
}

.about-us-more-info {
    text-align: center;
    width: 50vw;
    margin: auto;
    margin-top: 90px;
}

.about-us-other-sources-columns {
    display: flex;
    justify-content: center;
    margin: 0 18%;
    padding-bottom: 80px;
}


/* ---- activity log ---- */
.activity-log-container {
    width: 60%;
    margin: auto;
    margin-top: 180px;
}

.activity-month-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.activity-month-header {
    font-family: Glacial Indifference;
    font-size: 30px;
    text-align: center;
}
.month-select-arrow {
    font-size: 30px;
    color: var(--main-theme-colour);
    cursor: pointer;
    text-decoration: none;
}
.month-select-today, .month-select-today a {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    color: #808080;
    margin-top: -42px;
    margin-bottom: 25px;
}

.activities-table {
    font-family: arial, sans-serif;
    font-size: 15px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 7px;
    border-radius: 10px;
    margin-bottom: 50px;
}
table td, th {
    border: 1px solid white;
    text-align: left;
    padding: 6px 10px;
    height: 2em;
}
th {
    font-family: 'Glacial Indifference Bold';
    background-color: var(--lighter-theme-colour);
    color: white;
    font-size: 19px;
}

.date-break td {
    height: 0.5rem !important;
    padding: 0px !important;
    background-color: #e3e3e3 !important;
    text-align: center !important;
}
.date-break td p {
    margin: 5px !important;
    font-size: 17px;
    font-family: 'Glacial Indifference Bold';
    opacity: 0.9;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}
table tr {
    clip-path: xywh(0 0 100% 100% round 0.7em);
    background-color: #ededed;
}

.edit-delete-button {
    border-radius: 10px;
    padding: 4px 10px;
    color: white;
    width: 65px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    background-color: var(--lighter-theme-colour);
    border: none;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-activity-btn {
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    font-size: 18px;
    font-family: 'Glacial Indifference';
    background-color: var(--lighter-theme-colour);
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: 250px;
}

.add-activity-btn-container {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 80px;
}

.activity-modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000a;
    color: #fff;
}
.activity-modal-overlay .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--darker-theme-colour);
    padding: 40px 110px;
    border-radius: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-button {
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    background-color: var(--lighter-theme-colour);
    border: none;
    cursor: pointer;
}

.modal-content label {
    font-family: 'Glacial Indifference';
    font-size: 18px;
}
.modal-content input {
    width: 60%;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 13px;
    margin-bottom: 5px;
}
.modal-content .date-input {
    font-family: 'Sans Serif Collection';
}
.modal-content select {
    font-size: 13px;
    height: 28px;
    border-radius: 5px;
}


/* ---- account ---- */
.account-container {
    float: left;
    width: 100%;
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 200px;
}

.account-container p{
    font-family: Glacial Indifference Bold; 
    font-size: 30px;
}

#account-title{
    font-family: Glacial Indifference Bold; 
    font-size: 22px;
}

#account-info{
    font-family: Glacial Indifference; 
    font-size: 20px; 
    margin-top: -15px;
}

.account-side-container {
    display: inline-block;
    float: right;
    width: 25%;
    background-color: var(--main-theme-colour);
    padding-top: -50px;
    padding-right: 9%;
    padding-left: 9%;
    text-align: center;
    align-items: center;
    align-content: center;
}

.account-side-container div h1{
    font-family: 'Glacial Indifference'; 
    color: white;
}

.account-side-container div p{
    font-family: 'Glacial Indifference'; 
    color: white; 
    font-size: 24px;
}

.error-text {
    color: var(--error-colour);
}



.account-input-form {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 16px;
}

.fname {
    width: 142px;
    flex: 1;
}

.lname {
    width: 142px;
    flex: 1;
}

.name-input {
    display: flex;
    justify-content: center;
    gap: 3px;
}


.sign-in-button {
    border-radius: 10px;
    padding: 5px;
    width: 311.6px;
    height: 43px;
    color: white;
    font-size: 16px;
    background-color: var(--lighter-theme-colour);
    border: none;
    cursor: pointer;
}

.sign-up-button {
    border-radius: 10px;
    width: 270px;
    height: 42px;
    color: black;
    font-size: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.login-container{
    display: flex; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    left: 0px; 
    position: absolute; 
    top: 0px; 
}

.sign-up-in-left-container {
    display: inline-block;
    float: left;
    width: 60%;
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

#sign-up-container h1{
    font-family: 'Glacial Indifference Bold'; 
    font-size: 40px;
}

