/* ---- terms and conditions ---- */
#tc-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #000a;
    color: #fff;
}
#tc-overlay .content {
    height: 60%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--darker-theme-colour);
    padding: 10px;
    border-radius: 10px;
}

#tc-overlay .content h1{
    font-family: Glacial Indifference;
}

#tc-overlay .content #scroll-box {
    padding: 20px;
    max-width: 90%;
    background-color: var(--main-theme-colour);
    -ms-overflow-style: none;
    scrollbar-width: thin;
    overflow-x: hidden !important;

}
#tc-overlay .content #checkbox {
    padding: 20px;
    max-width: 50%;
    flex-direction: row;
}
#tc-overlay .content #tc-accept-btn {
    background-color: var(--lighter-theme-colour);
    border-color: var(--darker-theme-colour);
    color: #fff;
    margin-top: -7px;
}
#tc-overlay .content #tc-accept-btn:disabled {
    background-color: var(--darker-theme-colour);
    border-color: var(--lighter-theme-colour);
    color: #000;
}

#tc-accept-btn {
    border-radius: 10px;
    padding: 4px;
    width: 250px;
    height: 43px;
    color: black !important;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: white !important;
}

#scoll-box{
     overflow:scroll;
}